@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-body: "Montserrat", sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 2.7rem;
  --fs-h2: 1.3rem;
  --fs-h3: 1.1rem;
  --fs-body: 1rem;
  --ls-body: 0.1em;
  --img-pad: 0 4em;
  --mgn-btm-none: 0;
  --mgn-btm-sm: 0.8em;
  --mgn-btm-md: 1.5em;
  --mgn-btm-lg: 2em;
  --mgn-btm-xlg: 3em;
  --mgn-btm-section: 9em;
  --fs-xl: 4rem;
  --bdr-radius: 0.3em;
  --clr-light: #fff;
  --clr-light-gray: #d1d1d1;
  --clr-input: #dddcdc;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #018bba;
  --clr-accent-dark: #004b64;
  --clr-accent-secondary: #ff0000;
  --clr-accent-secondary-drk: #920000;
  --transparent-nav: rgba(204, 0, 0, 0.6);
  --transparent-nav-top: rgba(0, 14, 40, 0.6);
  --transparent-bg-drk: rgba(0, 14, 40, 1);
  --transparent-bg-light: rgba(0, 14, 40, 0);
  --clr-dark-bg: #000e28;
  --clr-warning: #cc2121;
}

body {
  font-family: var(--ff-body);
  line-height: 1.6;
  letter-spacing: var(--ls-body);
  color: var(--clr-light);
  font-weight: var(--fw-light);
  background-color: var(--clr-dark-bg);
}

h1,
.h1 {
  font-size: var(--fs-h1);
  margin-bottom: var(--mgn-btm-md);
}

h2,
.h2 {
  font-size: var(--fs-h2);
  margin-bottom: var(--mgn-btm-md);
}

a {
  text-decoration: none;
}

section {
  width: 90vw;
}

.container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, var(--transparent-bg-light)), to(var(--transparent-bg-drk))), url("./images/bg-top.jpg");
  background-image: linear-gradient(var(--transparent-bg-light) 70%, var(--transparent-bg-drk)), url("./images/bg-top.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: var(--mgn-btm-section);
}

.header .search {
  background-image: url("./images/search-solid.svg");
  background-position: 95% 50%;
  background-size: 1.5em;
  background-repeat: no-repeat;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30em;
}

.nav-container .nav-top {
  width: 100%;
  height: 10em;
  padding: 0;
  background-color: var(--transparent-nav-top);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav-top p {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
}

.nav-container .nav-top img {
  width: 6%;
  margin: 0 3em;
}

.nav-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--transparent-nav);
  width: 85vw;
  height: 5em;
  padding: 0 3em;
  font-size: var(--fs-h3);
}

.nav-container .nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav .nav-items input {
  width: unset;
  margin: 0;
  padding: 0.8rem 4em;
}

.nav-container .nav a:nth-child(1) {
  padding-left: 0;
}

.nav-container .nav a {
  color: var(--clr-light);
  padding: 0 1.5em;
  font-weight: var(--fw-normal);
}

.nav-container .nav .nav-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--fw-semi);
  text-transform: uppercase;
}

.nav-container .nav .nav-login a {
  padding: 0;
}

.btn {
  cursor: pointer;
  padding: 1.2em 4em;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, var(--clr-accent-secondary)), to(var(--clr-accent-secondary-drk)));
  background-image: linear-gradient(var(--clr-accent-secondary) 40%, var(--clr-accent-secondary-drk));
  color: white;
  font-weight: var(--fw-semi);
  letter-spacing: var(--ls-body);
  border: none;
  outline: none;
  border-radius: var(--bdr-radius);
  text-transform: uppercase;
}

.btn :hover {
  color: white;
  background-color: red;
}

.signup-container {
  margin: 0 auto;
  width: 50vw;
}

.signup-container p {
  margin-bottom: 1.5em;
}

.signup-container .signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5em;
}

.signup-container input {
  margin: 0;
}

.signup-container .btn-signup {
  margin-left: 2em;
}

.vl {
  border-left: 1px solid var(--clr-light);
  height: 2.5em;
  margin: 0 2em;
}

.hr {
  border: 1px solid var(--clr-accent);
  margin-bottom: var(--mgn-btm-lg);
  width: 30vw;
}

.hr-dive-gallery,
.hr-logged-dives {
  width: 30vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dive-sites {
  margin-bottom: var(--mgn-btm-section);
}

.dive-sites .dive-sites-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dive-sites .dive-sites-container .site-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-bottom: var(--mgn-btm-md);
}

.set-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.about {
  margin-bottom: var(--mgn-btm-section);
}

.about .h1 {
  margin: 0;
}

.about .h1:nth-child(2) {
  margin-bottom: var(--mgn-btm-md);
}

.about .uppercase {
  text-transform: uppercase;
}

.about p {
  color: var(--clr-accent);
  margin-bottom: var(--mgn-btm-sm);
}

.images-gallery {
  margin-bottom: var(--mgn-btm-section);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.images-gallery .img-card {
  padding: var(--img-pad);
  text-align: left;
  max-width: 27em;
}

.images-gallery .img-container {
  width: 20em;
  height: 13em;
  background-color: var(--clr-light);
  border: 2px solid var(--clr-light);
  margin-bottom: var(--mgn-btm-md);
}

.gallery_img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.gallery_img_1 {
  background-image: url("./images/gallery_img_1.jpg");
}

.gallery_img_2 {
  background-image: url("./images/gallery_img_2.jpg");
}

.gallery_img_3 {
  background-image: url("./images/gallery_img_3.jpg");
}

.gallery_img_4 {
  background-image: url("./images/gallery_img_4.jpg");
}

.gallery_img_5 {
  background-image: url("./images/gallery_img_5.jpg");
}

.gallery_img_6 {
  background-image: url("./images/gallery_img_6.jpg");
}

.logged-dives {
  margin-bottom: var(--mgn-btm-section);
}

.logged-dives article > div {
  padding: 2em;
}

.logged-dives .table-head {
  padding-bottom: 0;
}

.logged-dives article:nth-child(1) {
  font-weight: var(--fw-semi);
  color: var(--clr-accent);
  border-bottom: none;
  padding: unset;
}

.logged-dives .logged-dives-container {
  padding: 0 4em 0 0;
  margin-bottom: var(--mgn-btm-xlg);
}

.logged-dives article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--clr-accent);
}

.logged-dives article .country {
  width: 20%;
}

.logged-dives article .site {
  width: 20%;
}

.logged-dives article .date {
  width: 5%;
}

.logged-dives article .condition {
  width: 50%;
}

.logged-dives p {
  color: var(--clr-accent);
  margin-bottom: var(--mgn-btm-sm);
}

.logged-dives .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logged-dives form {
  width: 50vw;
  padding: 0 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logged-dives form .btn-add-log {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.turtle-image {
  background-image: url("./images/turtle.png");
  background-position: 10% 65%;
  background-size: 35em;
  background-repeat: no-repeat;
}

.shark-image {
  background-image: url("./images/shark.png");
  background-position: 100% 70%;
  background-size: 30em;
  background-repeat: no-repeat;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--mgn-btm-md);
}

label span {
  color: var(--clr-accent-dark);
  width: 13rem;
}

.input-primary,
.select-primary {
  font-family: var(--ff-body);
  color: var(--clr-input);
  font-weight: var(--fw-light);
  width: 100%;
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  background-color: var(--clr-light);
  border-radius: var(--bdr-radius);
  -webkit-appearance: none;
  margin-bottom: var(--mgn-btm-sm);
  border: none;
}

input,
select {
  width: 100%;
  font-size: 1rem;
  letter-spacing: var(--ls-body);
  padding: 0.8rem 1rem;
  color: #f17d80;
  border: 1px solid var(--clr-accent-dark);
  border-radius: var(--bdr-radius);
  -webkit-appearance: none;
  margin-bottom: var(--mgn-btm-sm);
  background-color: transparent;
}

span {
  text-transform: uppercase;
  color: var(--clr-accent-secondary);
  font-weight: var(--fw-bold);
}

.footer {
  background-image: url("./images/bg-btm.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.footer-container {
  padding: 0 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .columns {
  padding: var(--img-pad);
  width: 33%;
}

.footer-container img {
  margin-bottom: var(--mgn-btm-md);
}

.footer-container .title {
  font-weight: var(--fw-bold);
  margin-bottom: var(--mgn-btm-md);
  color: var(--clr-light);
}

.footer-container hr {
  margin-bottom: var(--mgn-btm-md);
}

.footer-container p {
  color: var(--clr-accent);
}

.footer-container p:nth-child(4) {
  margin-bottom: var(--mgn-btm-xlg);
}

.footer-container .email,
.footer-container .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .logos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .logos-container .logos {
  width: 5em;
  margin-right: 2em;
  opacity: 0.4;
}
/*# sourceMappingURL=styles.css.map */