@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--ff-body: "Montserrat", sans-serif;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-semi: 500;
	--fw-bold: 700;
	--fs-h1: 1.8rem;
	--fs-h2: 1.3rem;
	--fs-h3: 1.1rem;
	--fs-body: 1rem;
	--ls-body: 0.1em;
	--btn-padding: 0.6em 1.5em;
	--mgn-btm-none: 0;
	--mgn-btm-sm: 0.8em;
	--mgn-btm-md: 1.5em;
	--mgn-btm-lg: 2em;
	--mgn-btm-xlg: 3em;
	--mgn-btm-section: 9em;
	--fs-xl: 4rem;
	--bdr-radius: 0.3em;
	--clr-light: #fff;
	--clr-light-gray: #d1d1d1;
	--clr-input: #dddcdc;
	--clr-gray: #989898;
	--clr-dark: #444;
	--clr-accent: #018bba;
	--clr-accent-dark: #004b64;
	--clr-accent-secondary: #ff0000;
	--clr-accent-secondary-drk: #920000;
	--transparent-nav: rgba(204, 0, 0, 0.6);
	--transparent-bg-drk: rgba(0, 14, 40, 1);
	--transparent-bg-light: rgba(0, 14, 40, 0);
	--clr-dark-bg: #000e28;
	--clr-warning: #cc2121;
}

body {
	font-family: var(--ff-body);
	line-height: 1.6;
	letter-spacing: var(--ls-body);
	color: var(--clr-light);
	font-weight: var(--fw-light);
	background-color: var(--clr-dark-bg);
}

h1,
.h1 {
	font-size: var(--fs-h1);
	margin-bottom: var(--mgn-btm-md);
}

h2,
.h2 {
	font-size: var(--fs-h2);
	margin-bottom: var(--mgn-btm-md);
}

a {
	text-decoration: none;
}

section {
	width: 90vw;
}

.container {
	// background-color: var(--clr-dark-bg);
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	background-image: linear-gradient(
			var(--transparent-bg-light) 70%,
			var(--transparent-bg-drk)
		),
		url("./images/bg-top.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: var(--mgn-btm-section);
}

.nav-container {
	padding: 4em 0 6em 6em;
	display: flex;
	align-items: center;
	margin-bottom: 23em;
	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--transparent-nav);
		width: 100%;
		height: 5em;
		font-size: var(--fs-h3);
		padding: 0 3em;
		.nav-items {
			display: flex;
			align-items: center;
			input {
				width: unset;
				margin: 0;
				padding: 0.8rem 4em;
			}
		}
		a:nth-child(1) {
			padding-left: 0;
		}
		a {
			color: var(--clr-light);
			padding: 0 2em;
		}
		.nav-login {
			display: flex;
			align-items: center;
			font-weight: var(--fw-semi);
			text-transform: uppercase;
		}
	}
	img {
		width: 9%;
		margin-right: 4em;
		display: flex;
	}
}

.btn {
	cursor: pointer;
	padding: 1.2em 4em;
	background-image: linear-gradient(
		var(--clr-accent-secondary) 40%,
		var(--clr-accent-secondary-drk)
	);
	color: white;
	font-weight: var(--fw-semi);
	letter-spacing: var(--ls-body);
	border: none;
	outline: none;
	border-radius: var(--bdr-radius);
	text-transform: uppercase;
	:hover {
		color: white;
		background-color: red;
	}
}

.signup-container {
	margin: 0 auto;
	width: 50vw;
	// margin-bottom: var(--mgn-btm-section);
	p {
		margin-bottom: 1.5em;
	}
	.signup-form {
		display: flex;
		padding: 0 5em;
	}
	input {
		margin: 0;
	}
	.btn-signup {
		margin-left: 2em;
	}
}

.vl {
	border-left: 1px solid var(--clr-light);
	height: 2.5em;
}

.hr {
	border: 1px solid var(--clr-accent);
	margin-bottom: var(--mgn-btm-lg);
}

.hr-dive-sites {
	width: 30vw;
}

.dive-sites {
	margin-bottom: var(--mgn-btm-section);
	.dive-sites-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.site-card {
			flex: 0 1 30%;
			margin-bottom: var(--mgn-btm-md);
		}
	}
}

section > article {
	display: flex;
	justify-content: space-between;
	/* min-width: 15rem; */
	/* color: white; */
	border-bottom: 1px solid var(--clr-accent);
	/* margin: 0.1rem; */
	/* background-color: #737495; */
}

article > div {
	padding: 2em 0.5rem;
}

label {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
}

label span {
	color: #737495;
	width: 8.5rem;
}

.input-primary,
.select-primary {
	font-family: var(--ff-body);
	color: var(--clr-input);
	font-weight: var(--fw-light);
	width: 100%;
	font-size: 0.8rem;
	padding: 0.8rem 1rem;
	background-color: var(--clr-light);
	border-radius: var(--bdr-radius);
	-webkit-appearance: none;
	margin-bottom: var(--mgn-btm-sm);
	border: none;
}

span {
	text-transform: uppercase;
	color: var(--clr-accent-secondary);
	font-weight: var(--fw-bold);
}

input,
select {
	width: 100%;
	font-size: 1rem;
	letter-spacing: var(--ls-body);
	padding: 0.8rem 1rem;
	color: #f17d80;
	border: 1px solid var(--clr-accent-dark);
	border-radius: var(--bdr-radius);
	-webkit-appearance: none;
	margin-bottom: var(--mgn-btm-sm);
	background-color: transparent;
}

form {
	margin: 4em 0;
}

.footer {
	background-image: url("./images/bg-btm.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
